#articlesList {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 20px;
  transition: box-shadow 2s, background-color 2s linear;
}

#articlesList:hover {
  box-shadow: 0px 2px 0px yellow, 0px 4px 0px red,
    0px -2px 0px red, 0px -4px 0px yellow;
  width: 100%;
  transition: box-shadow 2s, background-color 2s linear;
}

#articleCreate {
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  text-align: center;
  transition: box-shadow 2s, background-color 2s linear;
}

#articleCreate:hover {
  box-shadow: 0px 2px 0px yellow, 0px 4px 0px red,
    0px -2px 0px red, 0px -4px 0px yellow;
  width: 100%;
  transition: box-shadow 2s, background-color 2s linear;
}

#miniStatusTrue {
  color: #1c8000;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  border-right: 1px solid #dee2e6;
  padding-right: 5px;
  transition: color 1s;
}

.articleCard:hover #miniStatusTrue {
  color: #37ff00;

  transition: color 1s;
}

.articleCard {
  position: relative;
  border-radius: 10px;
  background: #f5f6f7;
  box-shadow: -5px 5px 4px rgba(197, 227, 255, 0.5),
    5px 0px 4px rgba(255, 195, 207, 0.5);
  width: 100%;
  max-width: 336px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: box-shadow 2s;
}

.articleCard:hover {
  box-shadow: -5px 5px 4px rgba(119, 132, 198, 0.5),
    5px 0px 4px rgba(214, 47, 121, 0.5);
  transition: box-shadow 2s;
}

.articleCard:hover #miniStatusFalse {
  color: #ff0000;
  transition: color 1s;
}

.articleCard:hover .articleCardImage {
  visibility: hidden;
  opacity: 0;
}

.articleCardName {
  border-bottom: 1px solid #dee2e6;
}

.articleCardName p {
  margin: 0;
  font-size: 20px;
}

.articleCardAction {
  padding-top: 10px;
  padding-bottom: 10px;
}

.articleCardContent {
  width: 100%;
  max-width: 336px;
  /* font-family: "Open Sans"; */
  font-size: 14px;
  height: 250px;
  margin: auto;
}

.articleCardContent p {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

.articleCardContent figure img {
  max-width: 100%;
}

.articleCardContent div img {
  max-width: 100%;
}

.articleCard .articleCardInfo {
  height: 40px;
  font-size: 18px;
  border-bottom: 1px solid #dee2e6;
  padding-top: 5px;
}

.articleCardImage {
  position: absolute;
  width: 100%;
  height: 250px;
  background: white;
  z-index: 12;
  opacity: 1;
  transition: visibility 1s, opacity 1s linear;
}

#articleCardImage {
  height: 250px;
  object-fit: contain;
}

.articleContainer {
  min-height: 500px;
}

.articleHeader {
  border-bottom: 1px solid #dee2e6;
}

.articleImage {
  max-width: 100%;
  margin-right: 10px;
}

.articleName {
  position: relative;
  margin-top: 10px;
  font-family: "PublicSans-ExtraBoldItalic";
}


.articleSoloHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  height: 100%;
}

.articleDescription {
  position: relative;
  margin-bottom: 2%;
  z-index: 9;
}

.description-bg {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes description-bubble {
  0% {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 0;
  }

  5% {
    border-radius: 50%;
  }

  10% {
    width: 20%;
    padding-bottom: 20%;
    border-radius: 50%;
    transform: translate(-150%, 0);
  }

  30% {
    width: 30%;
    padding-bottom: 20%;
    border-radius: 65% 50% 50% 50%;
    transform: translate(-100%, 0);
  }

  40% {
    width: 20%;
    padding-bottom: 30%;
    border-radius: 45% 65% 50% 50%;
  }

  50% {
    width: 20%;
    padding-bottom: 20%;
    border-radius: 45% 65% 50% 50%;
    transform: translate(100%, 0);
  }

  60% {
    width: 20%;
    padding-bottom: 20%;
    border-radius: 50% 45% 65% 50%;
    transform: translate(180%, 0);
  }

  70% {
    width: 20%;
    padding-bottom: 20%;
    border-radius: 50% 45% 65% 50%;
  }

  80% {
    width: 20%;
    padding-bottom: 20%;
    border-radius: 50% 50% 45% 65%;
  }

  90% {
    width: 20%;
    padding-bottom: 20%;
    border-radius: 50% 50% 45% 65%;
  }

  95% {
    width: 10%;
    padding-bottom: 10%;
    border-radius: 65% 50% 50% 45%;
    opacity: 1;
  }

  100% {
    width: 100%;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
  }
}

.description-bubble {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0;
  z-index: 1;
  /* background-color: rgba(255, 83, 3, 0.822); */
  animation: description-bubble 5s ease-in-out forwards;
}

.description-content {
  position: relative;
  z-index: 10;
  width: 100%;
  /* background-color: rgba(224, 226, 96, 0.863); */
}

@keyframes content-color-day {
  0% {
    color: black;
  }

  95% {
    color: black;
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes content-color-night {
  0% {
    color: white;
  }

  95% {
    color: white;
  }

  100% {
    background-color: rgba(255, 252, 252, 0);
  }
}

.description-content h2 {
  position: relative;
  font-size: 1.5vw;
  z-index: 10;
  font-family: "PublicSans-italic";
  padding: 1% 1% 1% 1%;
  text-align: left;
  animation: content-color-day 5s ease-in-out forwards;
}


#ArticleImageFrame {
  position: relative;
  width: 100%;
  /* max-width: 50%; */
  margin: auto;
}

#ArticleImageFrame img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  border-radius: 5px;
}


.articleSoloContent {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 778px;
  margin: auto;
  border-bottom: 1px solid rgba(182, 182, 182, 0.877);
  background-color: white;
}

.articleSoloContent figure img {
  width: 100%;
}

.articleSoloContent p {
  width: 100%;
  word-wrap: break-word;
}

.articleSoloInfo {

  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 778px;
  margin: auto;
  margin-top: 2%;

}

.articleSoloInfo ul {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: auto;
  padding: 5%;
  list-style-type: none;
}


#switch:checked+#FullFrame .description-content h2 {
  animation: content-color-night 5s ease-in-out forwards;
}

.articleSoloInfo ul li {
  padding-top: 10px;
  word-wrap: break-word;
}

.articleSoloInfo ul li p {
  text-align: center;
  margin-bottom: 5px;
}

.articleSoloInfo h1 {
  display: grid;
  place-items: center;
  height: 50%;
  text-align: center;
  margin: 0px;
  border-bottom: 1px solid rgba(182, 182, 182, 0.877);
}

.articleBody {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
  padding-top: 20px;
}

.articleContent {
  width: 100%;
  max-width: 778px;
  border: 1px solid rgba(255, 255, 255, 0);
  margin: auto;
}

.articleContent figure img {
  width: 100%;
}

.articleContent p {
  width: 100%;
  word-wrap: break-word;
}

.articleGallery {
  position: relative;
  width: 300px;
  height: 300px;
}

figcaption {
  text-align: center;
}

.image {
  margin: 1em auto;
}