#articlesList {
  width: 100%;
  margin-top: 10px;
  padding-bottom: 20px;
  transition: box-shadow 2s, background-color 2s linear;
}

#articlesList:hover {
  box-shadow: 0px 2px 0px rgba(255, 0, 0, 1), 0px 4px 0px rgba(6, 1, 255, 1),
    0px -2px 0px rgba(6, 1, 255, 1), 0px -4px 0px rgba(255, 0, 0, 1);
  width: 100%;
  transition: box-shadow 2s, background-color 2s linear;
}

#articleCreate {
  padding-bottom: 20px;
  margin-bottom: 100px;
  transition: box-shadow 2s, background-color 2s linear;
}

#articleCreate:hover {
  box-shadow: 0px 2px 0px rgba(255, 0, 0, 1), 0px 4px 0px rgba(6, 1, 255, 1),
    0px -2px 0px rgba(6, 1, 255, 1), 0px -4px 0px rgba(255, 0, 0, 1);
  width: 100%;
  transition: box-shadow 2s, background-color 2s linear;
}

#miniStatusTrue {
  color: #1c8000;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  border-right: 1px solid #dee2e6;
  padding-right: 5px;
  transition: color 1s;
}

.articleCard:hover #miniStatusTrue {
  color: #37ff00;

  transition: color 1s;
}

.articleCard {
  position: relative;
  border-radius: 10px;
  background: #f5f6f7;
  box-shadow: -5px 5px 4px rgba(197, 227, 255, 0.5),
    5px 0px 4px rgba(255, 195, 207, 0.5);
  width: 100%;
  max-width: 336px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: box-shadow 2s;
}

.articleCard:hover {
  box-shadow: -5px 5px 4px rgba(119, 132, 198, 0.5),
    5px 0px 4px rgba(214, 47, 121, 0.5);
  transition: box-shadow 2s;
}

.articleCard:hover #miniStatusFalse {
  color: #ff0000;
  transition: color 1s;
}

.articleCard:hover .articleCardImage {
  visibility: hidden;
  opacity: 0;
}

.articleCardName {
  border-bottom: 1px solid #dee2e6;
}

.articleCardName p {
  margin: 0;
  font-size: 20px;
}

.articleCardAction {
  padding-top: 10px;
  padding-bottom: 10px;
}

.articleCardContent {
  width: 100%;
  max-width: 336px;
  font-family: "Open Sans";
  font-size: 14px;
  height: 250px;
  margin: auto;
}
.articleCardContent .ql-editor .image-style-align-right {
  float: right;
  margin-left: 0;
}

.articleCardContent p {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

.articleCardContent figure img {
  max-width: 100%;
}

.articleCardContent div img {
  max-width: 100%;
}

.articleCard .articleCardInfo {
  height: 40px;
  font-size: 18px;
  border-bottom: 1px solid #dee2e6;
  padding-top: 5px;
}

.articleCardImage {
  position: absolute;
  width: 100%;
  height: 250px;
  background: white;
  z-index: 12;
  opacity: 1;
  transition: visibility 1s, opacity 1s linear;
}

#articleCardImage {
  height: 250px;
  object-fit: contain;
}

.articleContainer {
  min-height: 500px;
}
.articleHeader {
  border-bottom: 1px solid #dee2e6;
}

.articleImage {
  max-width: 100%;
  margin-right: 10px;
}
.articleName {
  font-size: 3rem;
  position: relative;
  top: 10px;
}
.articleBody {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
  padding-top: 20px;
}

.articleContent {
  width: 100%;
  max-width: 778px;
  border: 1px solid rgba(255, 255, 255, 0);
  margin: auto;
}

.articleContent figure img {
  width: 100%;
}

.articleContent p {
  width: 100%;
  word-wrap: break-word;
}

.articleGallery {
  position: relative;
  width: 300px;
  height: 300px;
}

.image-style-align-right {
  float: right;
  margin-left: var(--ck-image-style-spacing) !important;
}
figcaption {
  text-align: center;
}
.image-style-align-left {
  float: left;
  margin-right: var(--ck-image-style-spacing);
}

.image {
  margin: auto;
}
