#createButton {
  border-radius: 10px;
  background: linear-gradient(225deg, #ddddde, #ffffff);
  box-shadow: -5px 5px 4px #939494, 2px -2px 1px #ffffff;
  transition: box-shadow 2s, color 1s;
  border: none;
  color: green;
  font-size: 32px;
  outline: none;
  transition: font-size 1s;
}

#createButton:visited {
  border-radius: 10px;
  background: linear-gradient(225deg, #ddddde, #ffffff);
  box-shadow: -5px 5px 4px #939494, 2px -2px 1px #ffffff;
  border: none;
  color: green;
  font-size: 32px;
  outline: none;
}
#createButton:focus {
  border-radius: 10px;
  background: linear-gradient(225deg, #ddddde, #ffffff);
  box-shadow: -5px 5px 4px #939494, 2px -2px 1px #ffffff;
  border: none;
  color: green;
  font-size: 32px;
  outline: none;
  transition: box-shadow 2s, font-size 1s;
}

#createButton:focus p {
  transition: color 1s;
}

#createButton:focus i {
  transition: color 1s;
}

#createButton:hover {
  box-shadow: -5px 5px 10px #5b5b5b, 5px -5px 10px #c4c5c6;
  transition: box-shadow 1s, font-size 1s;
}

#createButton:hover .svg-inline--fa {
  border: none;
  color: #7ff95d;
  outline: none;
}
#createButton:hover p {
  font-size: 20px;
  transition: font-size 1s;
}

#createButton:active {
  border-radius: 10px;
  background: #f5f6f7;
  box-shadow: inset -5px 5px 4px #dadbdc, inset 5px -5px 4px #ffffff;
  border: none;
  color: green;
  font-size: 32px;
  outline: none;
}

#createButton:active .svg-inline--fa {
  color: #7ff95d;
  transition: color 1s;
}
#createButton:active p {
  color: #7ff95d;
  transition: color 1s;
}

#createButton i {
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;
  outline: none;
}

#createButton p {
  font-family: Oxygen;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 15px;
  display: inline-block;
  outline: none;
  transition: font-size 1s;
}

#uploadButton {
  border-radius: 10px;
  background: linear-gradient(225deg, #ddddde, #ffffff);
  box-shadow: -5px 5px 4px #939494, 5px -5px 4px #ffffff;
  border: none;
  color: green;
  font-size: 32px;
  outline: none;
  transition: box-shadow 1s, font-size 1s;
}

#uploadButton:visited {
  border-radius: 10px;
  background: #f5f6f7;
  box-shadow: inset -5px 5px 4px #dadbdc, inset 5px -5px 4px #ffffff;
  border: none;
  color: green;
  font-size: 32px;
  outline: none;
  transition: font-size 1s;
}
#uploadButton:focus {
  border-radius: 10px;
  background: #f5f6f7;
  box-shadow: -9px 9px 11px #c4c5c6, 9px -9px 11px #ffffff;
  border: none;
  color: green;
  font-size: 32px;
  outline: none;
  transition: font-size 1s;
}

#uploadButton:focus i {
  transition: color 1s;
}

#uploadButton:hover {
  border-radius: 10px;
  box-shadow: -5px 5px 10px #5b5b5b, 5px -5px 10px #c4c5c6;
  transition: box-shadow 1s;
}

#uploadButton:hover .svg-inline--fa {
  border: none;
  color: #7ff95d;
  outline: none;
  transition: color 1s;
}

#uploadButton:hover p {
  font-size: 20px;
  transition: font-size 1s;
}

#uploadButton:active {
  border-radius: 10px;
  background: #f5f6f7;
  box-shadow: inset -5px 5px 4px #dadbdc, inset 5px -5px 4px #ffffff;
  border: none;
  color: green;
  font-size: 32px;
  outline: none;
  transition: font-size 1s;
}

#uploadButton:active p {
  color: #7ff95d;
  transition: color 1s;
}

#uploadButton:active .svg-inline--fa {
  color: #7ff95d;
  transition: color 1s;
}

#uploadButton i {
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;
  outline: none;
}

#uploadButton p {
  font-family: Oxygen;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 15px;
  display: inline-block;
  outline: none;
  transition: font-size 1s;
}

#miniDeleteButton {
  border-radius: 10px;
  background: #f5f6f7;
  box-shadow: -9px 9px 11px #c4c5c6, 9px -9px 11px #ffffff;
  border: none;
  color: #850000;
  font-size: 16px;
  outline: none;
  transition: color 1s;
}

#miniDeleteButton:visited {
  border-radius: 10px;
  background: #f5f6f7;
  box-shadow: inset -5px 5px 4px #dadbdc, inset 5px -5px 4px #ffffff;
  border: none;
  color: #850000;
  font-size: 16px;
  outline: none;
}
#miniDeleteButton:focus {
  border-radius: 10px;
  background: #f5f6f7;
  box-shadow: -9px 9px 11px #c4c5c6, 9px -9px 11px #ffffff;
  border: none;
  color: #850000;
  font-size: 16px;
  outline: none;
  transition: color 1s;
}
#miniDeleteButton:hover {
  border-radius: 10px;
  background: #f5f6f7;
  box-shadow: -10px 10px 23px #c0c1c2, 10px -10px 23px #e6e7e8;
}

#miniDeleteButton:hover .svg-inline--fa {
  border: none;
  color: #ff0000;
  outline: none;
  transition: color 1s;
}

#miniDeleteButton:active {
  border-radius: 10px;
  background: #f5f6f7;
  box-shadow: inset -5px 5px 4px #dadbdc, inset 5px -5px 4px #ffffff;
  border: none;
  color: #850000;
  font-size: 16px;
  outline: none;
}

#miniDeleteButton:active p {
  color: #ff0000;
}
#miniDeleteButton:active .svg-inline--fa {
  color: #ff0000;
}

#miniDeleteButton i {
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;
  outline: none;
}

#miniDeleteButton p {
  font-family: Oxygen;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 14px;
  display: inline-block;
  outline: none;
}

#miniViewButton {
  margin-right: 10px;
  border-radius: 10px;
  background: #f5f6f7;
  box-shadow: -9px 9px 11px #c4c5c6, 9px -9px 11px #ffffff;
  border: none;
  color: blue;
  font-size: 16px;
  outline: none;
  transition: color 1s;
  margin-bottom: 5px;
}

#miniViewButton:hover {
  box-shadow: -10px 10px 23px #c0c1c2, 10px -10px 23px #e6e7e8;
}

#miniViewButton:hover .svg-inline--fa {
  color: #14d0ff;
  transition: color 1s;
}

#miniViewButton:active {
  background: #f5f6f7;
  box-shadow: inset -5px 5px 4px #dadbdc, inset 5px -5px 4px #ffffff;
  color: #14d0ff;
}

#miniViewButton i {
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;
  outline: none;
}

#miniViewButton p {
  font-family: Oxygen;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 14px;
  display: inline-block;
  outline: none;
}

#editButton {
  border-radius: 10px;
  background: #f5f6f7;
  box-shadow: -9px 9px 11px #c4c5c6, 9px -9px 11px #ffffff;
  border: none;
  color: #ffcc14;
  font-size: 32px;
  outline: none;
  transition: color 1s;
}

#editButton:hover {
  color: #f5f74a;
  box-shadow: -10px 10px 23px #c0c1c2, 10px -10px 23px #e6e7e8;
  transition: color 1s;
}

#editButton:hover p {
  color: #ffcc14;
}

#editButton:active {
  box-shadow: inset -5px 5px 4px #dadbdc, inset 5px -5px 4px #ffffff;
  color: #f5f74a;
}

#editButton i {
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;
  outline: none;
}

#editButton p {
  font-family: Oxygen;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 15px;
  display: inline-block;
  outline: none;
}

#closeButton {
  border-radius: 50%;
  background: linear-gradient(45deg, #ddddde, #ffffff);
  box-shadow: 6px -6px 25px #c6c7c8, -6px 6px 25px #ffffff;
  border: none;
  font-size: 32px;
  color: #850000;
  outline: none;
}

#closeButton:hover {
  color: #ff0000;
}

#closeButton:active {
  box-shadow: inset -15px 15px 30px #b8b9b9, inset 15px -15px 30px #ffffff;
}

#miniEditButton {
  margin-right: 10px;
  border-radius: 10px;
  background: #f5f6f7;
  box-shadow: -9px 9px 11px #c4c5c6, 9px -9px 11px #ffffff;
  border: none;
  color: #e2b205;
  font-size: 16px;
  outline: none;
  transition: color 1s;
  margin-bottom: 5px;
}

#miniEditButton:hover {
  box-shadow: -10px 10px 23px #c0c1c2, 10px -10px 23px #e6e7e8;
}

#miniEditButton:hover .svg-inline--fa {
  color: #f5f74a;
  transition: color 1s;
}

#miniEditButton:active {
  box-shadow: inset -5px 5px 4px #dadbdc, inset 5px -5px 4px #ffffff;
}
#miniEditButton:active p {
  color: #f5f74a;
}

#miniEditButton:active .svg-inline--fa {
  color: #f5f74a;
}

#miniEditButton i {
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;
  outline: none;
}

#miniEditButton p {
  font-family: Oxygen;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 14px;
  display: inline-block;
  outline: none;
}
