/*#FullFrame {
  padding: 0 var(--ck-spacing-standard) !important;
}*/

#switch {
  display: none;
}

#Label,
.toggle {
  height: 1rem;
  border-radius: 100px;
}

#Label {
  position: relative;
  min-width: 100px;
  background-color: rgba(10, 10, 10, 0.5);
  border-radius: 100px;
  margin: 0;
  margin-right: 50px;
  z-index: 140;
  cursor: pointer;
}

.toggle {
  position: absolute;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.names {
  font-family: "PublicSans-SemiBold";
  font-size: 10px;
  width: 65%;
  margin-left: 17.5%;
  margin-top: 0.5%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.light {
  opacity: 1;
}

.dark {
  color: white;
  opacity: 1;
}

#switch:checked+#FullFrame {
  background-color: #000000;
}

#switch:checked+#FullFrame #fixedNavbar {
  background-color: black;
}

#switch:checked+#FullFrame #fixedNavbar .nav-link {
  color: #01c6fd;
  transition: color 1s;
}

#switch:checked+#FullFrame #fixedNavbar .nav-item:hover .nav-link {
  color: orange;
  transition: color 1s;
}

#switch:checked+#FullFrame .DoanStackLogo {
  box-shadow: 5px 5px 6px #01c6fd, -5px -5px 6px #01c6fd;
  transition: background 1s, box-shadow 1s;
}


#switch:checked+#FullFrame #fixedNavbar #LogoNav .DoanStackLogo {
  background-color: black;
}

#switch:checked+#FullFrame #fixedNavbar #Label {
  color: white;
}

#switch:checked+#FullFrame .homeFrameOne {
  margin: auto;
  min-height: 100vh;
  width: 100%;
  background: url('https://images.unsplash.com/photo-1622988766425-8ecbae9cef6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 1s;
}

#switch:checked+#FullFrame .anchorLink a {
  color: white;
  text-decoration: none;
  transition: color 1s linear;
}

#switch:checked+#FullFrame .anchorLink a:hover {
  color: orange;
  text-decoration: none;
  transition: color 1s linear;
}

#switch:checked+#FullFrame .i-a-m {
  color: orange;
}

#switch:checked+#FullFrame .homeFrameTwo {
  margin: auto;
  min-height: 100vh;
  width: 100%;
  background: url('https://images.unsplash.com/photo-1503437313881-503a91226402?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 1s;
}

#switch:checked+#FullFrame .homeFrameThree {
  margin: auto;
  min-height: 100vh;
  width: 100%;
  background: url('https://images.unsplash.com/photo-1529589402286-203183a8259e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2074&q=80');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 1s;
}

#switch:checked+#FullFrame .aboutContentCenter p {
  color: orange;
  width: 80%;
  margin: auto;
  font-family: "PublicSans-BoldItalic";
  font-size: 25px;
}

#switch:checked+#FullFrame #TitleLink h2 {
  font-size: 2vw;
  background: linear-gradient(yellow, red);
  /* clip hackery */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fontSizeReverse 1s linear reverse;
}

#switch:checked+#FullFrame .mainBoard .homeBody #InlineSVG_2 {
  stroke: white;
}

#switch:checked+#FullFrame .ComponentTitle div {
  box-shadow: inset 0px -1px 4px #ffe601, inset -1px 0px 4px #ff7300;
}

#switch:checked+#FullFrame .ComponentTitle div h1 {
  background: linear-gradient(rgba(255, 136, 0, 0.6), rgba(255, 238, 0, 0.6));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: font-size 1s, text-shadow 5s;
}

#switch:checked+#FullFrame .mainBoard #ShopBody #ShopNav {
  border-radius: 50px;
  background: #272626;
  box-shadow: 8px 8px 16px #1e1d1d, -8px -8px 16px #1e1d1d;
}

#switch:checked+#FullFrame .mainBoard #ShopBody #ShopNav ul li a {
  color: white;
  transition: color 4s ease-out;
}

#switch:checked+#FullFrame .mainBoard #ShopBody #ShopNav ul li a:hover {
  color: rgb(255, 127, 7);
  transition: color 0.5s ease-in-out;
}

#switch:checked+#FullFrame .mainBoard #BlogBody #BlogNav {
  border-radius: 50px;
  background: #272626;
  box-shadow: 8px 8px 16px #1e1d1d, -8px -8px 16px #1e1d1d;
}

#switch:checked+#FullFrame .mainBoard #BlogBody .articleSoloInfo ul {
  background: #000000;
}

#switch:checked+#FullFrame .mainBoard #BlogBody #BlogNav ul li a {
  color: white;
  transition: color 4s ease-out;
}

#switch:checked+#FullFrame .mainBoard #BlogBody #BlogNav ul li a:hover {
  color: rgb(255, 127, 7);
  transition: color 0.5s ease-in-out;
}

#switch:checked+#FullFrame .mainBoard #BlogBody #BlogHome .dataFilter b {
  color: white;
}

#switch:checked+#FullFrame .mainBoard #BlogBody #BlogHome .commentArticle p {
  color: white;
  transition: color 4s ease-out;
}

#switch:checked+#FullFrame .mainBoard #ShopBody #ShopHome b {
  color: white;
}

#switch:checked+#FullFrame .shopFrame {
  background-color: black;
}

#switch:checked+#FullFrame .shopFrame:hover {
  box-shadow: inset 0 0 2px 2px orange;
}

#switch:checked+#FullFrame .mainBoard #ShopBody #ShopHome #ShopHomeProducts #ShopLink .shopFrame .shopInfo .ratings p {
  color: white;
}

#switch:checked+#FullFrame .mainBoard #ShopBody #ShopHome #ShopHomeProducts .shopImg {
  background-color: black;
}

#switch:checked+#FullFrame .mainBoard #ShopBody #ShopHome #ShopHomeProducts .shopBody {
  color: white;
}

#switch:checked+#FullFrame .mainBoard #ShopBody #ShopHome #MoreProducts .body .list .productTitle {
  color: white;
  transition: color 1s linear;
}

#switch:checked+#FullFrame .mainBoard #BlogBody .articleSoloHeader {
  color: white;
}

#switch:checked+#FullFrame .mainBoard #ShopBody .productSoloInfo .productSoloRating p {
  color: white !important;
}

#switch:checked+#FullFrame .mainBoard #ShopBody .productSoloContent {
  background-color: rgb(12, 12, 12);
  color: white;
}

#switch:checked+#FullFrame .mainBoard #ShopBody .productSoloContent figure table {
  color: white;
}

#switch:checked+#FullFrame .mainBoard #ShopBody .rateThisProduct p {
  color: white;
}

#switch:checked+#FullFrame .rateThisProduct:hover {
  box-shadow: 0px 2px 0px rgba(255, 136, 0, 1), 0px 4px 0px rgba(255, 238, 0, 1),
    0px -2px 0px rgba(255, 136, 0, 1), 0px -4px 0px rgba(255, 238, 0, 1);
}

#switch:checked+#FullFrame .rateThisProduct:hover .ComponentTitle div h1 {
  font-size: 40px;
  background: linear-gradient(orange, yellow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 30px rgba(255, 248, 0, 1), 0 0 35px rgba(255, 248, 0, 1),
    0 0 40px rgba(255, 248, 0, 1);
  transition: font-size 1s, text-shadow 5s;
}

#switch:checked+#FullFrame .reviewProduct:hover {
  box-shadow: 0px 2px 0px rgba(255, 136, 0, 1), 0px 4px 0px rgba(255, 238, 0, 1),
    0px -2px 0px rgba(255, 136, 0, 1), 0px -4px 0px rgba(255, 238, 0, 1);
}

#switch:checked+#FullFrame .reviewProduct:hover .ComponentTitle div h1 {
  font-size: 40px;
  background: linear-gradient(orange, yellow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 30px rgba(255, 248, 0, 1), 0 0 35px rgba(255, 248, 0, 1),
    0 0 40px rgba(255, 248, 0, 1);
  transition: font-size 1s, text-shadow 5s;
}

#switch:checked+#FullFrame .readReviews:hover {
  box-shadow: 0px 2px 0px rgba(255, 136, 0, 1), 0px 4px 0px rgba(255, 238, 0, 1),
    0px -2px 0px rgba(255, 136, 0, 1), 0px -4px 0px rgba(255, 238, 0, 1);
}

#switch:checked+#FullFrame .readReviews:hover .ComponentTitle div h1 {
  font-size: 40px;
  background: linear-gradient(orange, yellow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 30px rgba(255, 248, 0, 1), 0 0 35px rgba(255, 248, 0, 1),
    0 0 40px rgba(255, 248, 0, 1);
  transition: font-size 1s, text-shadow 5s;
}

#switch:checked+#FullFrame .relatedArticles:hover {
  box-shadow: 0px 2px 0px rgba(255, 136, 0, 1), 0px 4px 0px rgba(255, 238, 0, 1),
    0px -2px 0px rgba(255, 136, 0, 1), 0px -4px 0px rgba(255, 238, 0, 1);
}

#switch:checked+#FullFrame .relatedArticles:hover .ComponentTitle div h1 {
  font-size: 40px;
  background: linear-gradient(orange, yellow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 30px rgba(255, 248, 0, 1), 0 0 35px rgba(255, 248, 0, 1),
    0 0 40px rgba(255, 248, 0, 1);
  transition: font-size 1s, text-shadow 5s;
}

#switch:checked+#FullFrame .relatedProducts:hover {
  box-shadow: 0px 2px 0px rgba(255, 136, 0, 1), 0px 4px 0px rgba(255, 238, 0, 1),
    0px -2px 0px rgba(255, 136, 0, 1), 0px -4px 0px rgba(255, 238, 0, 1);
}

#switch:checked+#FullFrame .relatedProducts:hover .ComponentTitle div h1 {
  font-size: 40px;
  background: linear-gradient(orange, yellow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 30px rgba(255, 248, 0, 1), 0 0 35px rgba(255, 248, 0, 1),
    0 0 40px rgba(255, 248, 0, 1);
  transition: font-size 1s, text-shadow 5s;
}

#switch:checked+#FullFrame .commentArticle:hover {
  box-shadow: 0px 2px 0px rgba(255, 136, 0, 1), 0px 4px 0px rgba(255, 238, 0, 1),
    0px -2px 0px rgba(255, 136, 0, 1), 0px -4px 0px rgba(255, 238, 0, 1);
}

#switch:checked+#FullFrame .commentArticle:hover .ComponentTitle div h1 {
  font-size: 40px;
  background: linear-gradient(orange, yellow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 30px rgba(255, 248, 0, 1), 0 0 35px rgba(255, 248, 0, 1),
    0 0 40px rgba(255, 248, 0, 1);
  transition: font-size 1s, text-shadow 5s;
}

#switch:checked+#FullFrame .readComments:hover {
  box-shadow: 0px 2px 0px rgba(255, 136, 0, 1), 0px 4px 0px rgba(255, 238, 0, 1),
    0px -2px 0px rgba(255, 136, 0, 1), 0px -4px 0px rgba(255, 238, 0, 1);
}

#switch:checked+#FullFrame .readComments:hover .ComponentTitle div h1 {
  font-size: 40px;
  background: linear-gradient(orange, yellow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 30px rgba(255, 248, 0, 1), 0 0 35px rgba(255, 248, 0, 1),
    0 0 40px rgba(255, 248, 0, 1);
  transition: font-size 1s, text-shadow 5s;
}

#switch:checked+#FullFrame .mainBoard #BlogBody .articleSoloContent {
  background-color: black;
  color: white;
  border-bottom: 1px solid white;
}

#switch:checked+#FullFrame .mainBoard #BlogBody .articleSoloContent figure table {
  color: white;
}

#switch:checked+#FullFrame .mainBoard #BlogBody .blogFrame {
  background-color: black;
}

#switch:checked+#FullFrame .mainBoard #BlogBody .blogInfo {
  background-color: black;
  color: white;
  transition: color 0.5s linear,
    background-color 0.5s linear;
}

#switch:checked+#FullFrame .mainBoard #BlogBody .blogArticle {
  background-color: rgba(0, 0, 0, 0.8);
}

#switch:checked+#FullFrame .mainBoard #BlogBody .blogFrame ul {
  box-shadow: inset 0 0 3px 2px orange;
}

#switch:checked+#FullFrame .mainBoard #BlogBody .blogFrame ul li {
  color: white !important;
}

#switch:checked+#FullFrame .mainBoard #BlogBody .blogFrame .blogContent {
  color: white !important;
}

#switch:checked+#FullFrame .mainBoard #BlogBody .blogFrame:hover .blogArticle {
  background-color: black;
}

#switch:checked+#FullFrame .mainBoard #ProfileFrame #userProfile:hover {
  box-shadow: 0px 2px 0px rgba(255, 136, 0, 1), 0px 4px 0px rgba(255, 238, 0, 1),
    0px -2px 0px rgba(255, 136, 0, 1), 0px -4px 0px rgba(255, 238, 0, 1);
}

#switch:checked+#FullFrame .mainBoard #ProfileFrame #userProfile:hover .ComponentTitle div h1 {
  font-size: 40px;
  background: linear-gradient(orange, yellow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 30px rgba(255, 248, 0, 1), 0 0 35px rgba(255, 248, 0, 1),
    0 0 40px rgba(255, 248, 0, 1);
  transition: font-size 1s, text-shadow 5s;
}

#switch:checked+#FullFrame .mainBoard #ProfileFrame #userEdit:hover {
  box-shadow: 0px 2px 0px rgba(255, 136, 0, 1), 0px 4px 0px rgba(255, 238, 0, 1),
    0px -2px 0px rgba(255, 136, 0, 1), 0px -4px 0px rgba(255, 238, 0, 1);
}

#switch:checked+#FullFrame .mainBoard #ProfileFrame #userEdit:hover .ComponentTitle div h1 {
  font-size: 40px;
  background: linear-gradient(orange, yellow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 30px rgba(255, 248, 0, 1), 0 0 35px rgba(255, 248, 0, 1),
    0 0 40px rgba(255, 248, 0, 1);
  transition: font-size 1s, text-shadow 5s;
}

#switch:checked+#FullFrame .mainBoard #articlesList:hover {
  box-shadow: 0px 2px 0px rgba(255, 136, 0, 1), 0px 4px 0px rgba(255, 238, 0, 1),
    0px -2px 0px rgba(255, 136, 0, 1), 0px -4px 0px rgba(255, 238, 0, 1);
}

#switch:checked+#FullFrame .mainBoard #articlesList:hover .ComponentTitle div h1 {
  font-size: 40px;
  background: linear-gradient(orange, yellow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 30px rgba(255, 248, 0, 1), 0 0 35px rgba(255, 248, 0, 1),
    0 0 40px rgba(255, 248, 0, 1);
  transition: font-size 1s, text-shadow 5s;
}

#switch:checked+#FullFrame .mainBoard #articleCreate:hover {
  box-shadow: 0px 2px 0px rgba(255, 136, 0, 1), 0px 4px 0px rgba(255, 238, 0, 1),
    0px -2px 0px rgba(255, 136, 0, 1), 0px -4px 0px rgba(255, 238, 0, 1);
}

#switch:checked+#FullFrame .mainBoard #articleCreate:hover .ComponentTitle div h1 {
  font-size: 40px;
  background: linear-gradient(orange, yellow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 30px rgba(255, 248, 0, 1), 0 0 35px rgba(255, 248, 0, 1),
    0 0 40px rgba(255, 248, 0, 1);
  transition: font-size 1s, text-shadow 5s;
}

#switch:checked+#FullFrame .mainBoard #productCreate:hover {
  box-shadow: 0px 2px 0px rgba(255, 136, 0, 1), 0px 4px 0px rgba(255, 238, 0, 1),
    0px -2px 0px rgba(255, 136, 0, 1), 0px -4px 0px rgba(255, 238, 0, 1);
}

#switch:checked+#FullFrame .mainBoard #productCreate:hover .ComponentTitle div h1 {
  font-size: 40px;
  background: linear-gradient(orange, yellow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 30px rgba(255, 248, 0, 1), 0 0 35px rgba(255, 248, 0, 1),
    0 0 40px rgba(255, 248, 0, 1);
  transition: font-size 1s, text-shadow 5s;
}

#switch:checked+#FullFrame .mainBoard #productsList:hover {
  box-shadow: 0px 2px 0px rgba(255, 136, 0, 1), 0px 4px 0px rgba(255, 238, 0, 1),
    0px -2px 0px rgba(255, 136, 0, 1), 0px -4px 0px rgba(255, 238, 0, 1);
}

#switch:checked+#FullFrame .mainBoard #productsList:hover .ComponentTitle div h1 {
  font-size: 40px;
  background: linear-gradient(orange, yellow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 30px rgba(255, 248, 0, 1), 0 0 35px rgba(255, 248, 0, 1),
    0 0 40px rgba(255, 248, 0, 1);
  transition: font-size 1s, text-shadow 5s;
}

#switch:checked+#FullFrame .mainBoard #usersList:hover {
  box-shadow: 0px 2px 0px rgba(255, 136, 0, 1), 0px 4px 0px rgba(255, 238, 0, 1),
    0px -2px 0px rgba(255, 136, 0, 1), 0px -4px 0px rgba(255, 238, 0, 1);
}

#switch:checked+#FullFrame .mainBoard #usersList:hover .ComponentTitle div h1 {
  font-size: 40px;
  background: linear-gradient(orange, yellow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 30px rgba(255, 248, 0, 1), 0 0 35px rgba(255, 248, 0, 1),
    0 0 40px rgba(255, 248, 0, 1);
  transition: font-size 1s, text-shadow 5s;
}

@keyframes fontSizeReverse {
  from {
    font-size: 2vw;
  }

  to {
    font-size: 1vw;
  }
}

/* @keyframes neon2 {
  to {
    background: linear-gradient(orange, yellow);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 1px rgba(255, 248, 0, 0.5), 0 0 2px rgba(255, 248, 0, 0.5),
      0 0 3px rgba(255, 72, 0, 0.5), 0 0 4px rgba(255, 72, 0, 0.5);
  }
} */

#switch:checked+#FullFrame #fixedNavbar .toggle {
  transform: translateX(100%);
  background-color: #34323d;
}

#switch:checked+#FullFrame #fixedNavbar .dark {
  opacity: 1;
}

#switch:checked+#FullFrame #fixedNavbar .light {
  opacity: 0.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

iframe {
  height: auto;
  min-height: 20rem;
}

.image-style-align-right {
  float: right;
  margin-left: var(--ck-image-style-spacing) !important;
  clear: both;
}

.image-style-align-left {
  float: left;
  margin-right: var(--ck-image-style-spacing) !important;
  clear: both;
}

.mt-2 {
  max-width: 780px;
  margin: auto;
}

#ImageFrame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  /* max-width: 50%; */
  margin: auto;
  margin-bottom: 10px;
  overflow: hidden;
}

#ImageFrame img {
  width: 100%;
  object-fit: contain;
}

#ImageFrame:hover #ShopProductZoom {
  visibility: visible;
  color: rgba(255, 208, 0, 0.7);
  opacity: 1;
  transition: visibility 1s linear, opacity 1s linear;
}